RewriteEngine on
RewriteRule ^(/)?$ /pages/portal/views/home.php [L] 
RewriteRule ^(payments)?$ /pages/portal/views/payments.php [L] 
RewriteRule ^(login)?$ /pages/portal/views/login.php [L]
RewriteRule ^(logout)?$ /pages/portal/views/logout.php [L]
RewriteRule ^(register)?$ /pages/portal/views/register.php [L]


# Student Portal
RewriteRule ^(portal/profile)?$ /pages/portal/views/profile.php [L]


ErrorDocument 404 /pages/404.php
ErrorDocument 400 /pages/500.php
ErrorDocument 500 /pages/500.php